* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fafafa;
}

header {
  height: 42.66667rem;
  width: 100%;
  align-self: flex-start;
  background: #fff;
  margin-bottom: 1.6rem;
}

header section {
  display: flex;
  align-items: center;
  height: 27.2rem;
  position: relative;
}

header section figcaption {
  display: flex;
  align-items: center;
}

header section figcaption .i1 {
  display: inline-block;
  width: 16.53333rem;
  height: 16.53333rem;
  border-radius: 50%;
  margin: 0 4rem;
  overflow: hidden;
  background: #000;
}

header section figcaption .i1 img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header section figcaption article {
  display: inline-block;
}

header section figcaption article p {
  font-size: 4rem;
  color: black;
  font-weight: bolder;
  margin-bottom: 2.4rem;
}

header section figcaption article span {
  color: #fff;
  font-size: 2.93333rem;
  padding: 4px 14px;
  background: #e5645f;
  border-radius: 28px;
}

header section .i2 {
  position: absolute;
  right: 4rem;
  font-size: 20px;
}

header aside {
  height: 15.46667rem;
  display: flex;
}

header aside p {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
}

header aside p span {
  text-align: center;
}

nav {
  height: 21.06667rem;
  display: flex;
  background: #fff;
}

nav p {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.46667rem;
}

nav p i, nav p span {
  text-align: center;
}

nav p i {
  font-size: 5.33333rem !important;
}

nav p .i1 {
  color: #f3b46a;
}

nav p .i2 {
  color: #63a3e9;
}

nav p .i3 {
  color: #ea825d;
}

nav p .i4 {
  color: #52a590;
}

main {
  flex: 1;
  overflow: auto;
}

main figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

main figure:last-child {
  border: none;
}

main section {
  margin-bottom: 1.6rem;
}

main section:last-child {
  margin-bottom: 0;
}

main section:nth-child(1) {
  height: 25.06667rem;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  background: #fff;
}

main section:nth-child(1) span {
  font-size: 4rem;
}

main section:nth-child(1) i {
  color: #999999;
  margin-right: 5.33333rem;
}

main section:nth-child(1) figure {
  flex: 1;
}

main section:nth-child(1) figure:nth-child(1) {
  box-sizing: border-box;
}

main section:nth-child(1) figure:nth-child(1) span:nth-child(2) {
  color: #999999;
}

main section:nth-child(2) {
  height: 50.13333rem;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  background: #fff;
}

main section:nth-child(2) span {
  font-size: 4rem;
}

main section:nth-child(2) i {
  color: #999999;
  margin-right: 5.33333rem;
}

main section:nth-child(2) figure {
  flex: 1;
}

main section:nth-child(2) figure:nth-child(3) span:nth-child(2) {
  color: #999999;
}

main section:nth-child(3) {
  height: 37.6rem;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  background: #fff;
}

main section:nth-child(3) span {
  font-size: 4rem;
}

main section:nth-child(3) i {
  color: #999999;
  margin-right: 5.33333rem;
}

main section:nth-child(3) figure {
  flex: 1;
}

footer {
  border-top: 1px solid #b2b2b2;
  height: 11.73333rem;
  display: flex;
}

footer p {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

footer a span {
  font-size: 2.93333rem;
}

footer i {
  font-size: 5.33333rem !important;
}

footer p:last-child a {
  color: #e5645f !important;
}
